<p id="notice"><%= notice %></p>

<p>
  <strong>Numero:</strong>
  <%= @mesa.numero %>
</p>

<p>
  <strong>Capacidade:</strong>
  <%= @mesa.capacidade %>
</p>

<%= link_to 'Editar', edit_mesa_path(@mesa) %> |
<%= link_to 'Voltar', mesas_path %>
