<%= form_for(@comanda_produto, :html => {role: "form", :class => 'form-horizontal'}) do |f| %>
  <% if @comanda_produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comanda_produto.errors.count, "error") %> prohibited this comanda_produto from being saved:</h2>

      <ul>
      <% @comanda_produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Número da Comanda</label>
    <div class="col-sm-2">
      <% if params[:comanda_id] %>
        <%= f.text_field :comanda_id, :value => params[:comanda_id], :class => 'form-control' %>
      <% else %>
        <%= f.text_field :comanda_id, :class => 'form-control' %>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Produto</label>
    <div class="col-sm-3">
      <%= f.select(:produto_id, Produto.all.collect {|p| [ p.nome, p.id ] }, { :include_blank => false }, :class => 'form-control') %>
    </div>
  </div>  

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Quantidade</label>
    <div class="col-sm-2">
      <%= f.number_field :quantidade, :class => 'form-control' %>
    </div>
  </div>


  <div class="actions">
    <% if controller.action_name == "new" %>
      <%= f.submit "Adicionar itens", :class => 'btn btn-default' %>
    <% else %>
      <%= f.submit "Atualizar itens", :class => 'btn btn-default' %>
    <% end %>
  </div>
<% end %>

