<h1>Listar itens</h1>

<table>
  <thead>
    <tr>
      <th>Comanda</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comanda_produtos.each do |comanda_produto| %>
      <tr>
        <td><%= comanda_produto.comanda.numero %></td>
        <td><%= comanda_produto.produto.nome %></td>
        <td><%= comanda_produto.quantidade %></td>
        <td><%= link_to 'Visualizar', comanda_produto %></td>
        <td><%= link_to 'Editar', edit_comandaproduto_path(comanda_produto) %></td>
        <td><%= link_to 'Excluir', comanda_produto, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if params[:comanda_id] %>
<%= link_to 'Novo item', '/comanda_produtos/new?comanda_id=' + params[:comanda_id].to_s %>  
<% else %>
<%= link_to 'Novo item', new_comandaproduto_path %>
<% end %>
<%= link_to 'Listar comandas', comandas_path %>