<p id="notice"><%= notice %></p>

<p>
  <strong>Comanda:</strong>
  <%= @comanda_produto.comanda.numero %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @comanda_produto.produto.nome %>
</p>

<p>
  <strong>Quantidade:</strong>
  <%= @comanda_produto.quantidade %>
</p>

<%= link_to 'Voltar', '/comanda_produtos?comanda_id=' + @comanda_produto.comanda.id.to_s %>

<%= link_to 'Listar comandas', comandas_path %>