<%= form_for(@comanda) do |f| %>
  <% if @comanda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comanda.errors.count, "error") %> prohibited this comanda from being saved:</h2>

      <ul>
      <% @comanda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :numero %><br>
    <%= f.number_field :numero %>
  </div>
  <div class="field">
    <%= f.label :mesa_id %> (número)<br>
    <%= f.select(:mesa_id, Mesa.all.collect {|m| [ m.numero, m.id ] }, { :include_blank => false }) %>
  </div>
  <div class="field">
    <%= f.label :funcionario_id %><br>
    <%= f.select(:funcionario_id, Funcionario.all.collect {|f| [ f.nome, f.id ] }, { :include_blank => false }) %>
  </div>
  <div class="field">
    <%= f.label :aberto %><br>
    <%= f.check_box :aberto %>
  </div>
  <div class="actions">
    <% if controller.action_name == "new" %>
      <%= f.submit "Criar comanda" %>
    <% else %>
      <%= f.submit "Atualizar comanda" %>
    <% end %>
  </div>
<% end %>
