<h1>Lista de comandas</h1>

<table>
  <thead>
    <tr>
      <th>Numero</th>
      <th>Mesa</th>
      <th>Valor total</th>
      <th>Funcionario</th>
      <th>Aberto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comandas.each do |comanda| %>
      <tr>
        <td><%= comanda.numero %></td>
        <td><%= comanda.mesa.numero %></td>
        <td><%= comanda.valor_total %></td>
        <td><%= comanda.funcionario.nome %></td>
        <td><%= comanda.aberto %></td>
        <td><%= link_to 'Visualizar', comanda %></td>
        <td><%= link_to 'Editar', edit_comanda_path(comanda) %></td>
        <td><%= link_to 'Excluir', comanda, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        <% if comanda.aberto %>
          <td><%= link_to 'Adicionar Itens', '/comanda_produtos/new?comanda_id=' + comanda.id.to_s %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Comanda', new_comanda_path %>
