<%= form_for(@funcionario, :html => {role: "form", :class => 'form-horizontal'}) do |f| %>
  <% if @funcionario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@funcionario.errors.count, "error") %> prohibited this funcionario from being saved:</h2>

      <ul>
      <% @funcionario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Nome</label>
    <div class="col-sm-4">
      <%= f.text_field :nome, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">CPF</label>
    <div class="col-sm-2">
      <%= f.text_field :cpf, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Telefone</label>
    <div class="col-sm-2">
      <%= f.text_field :telefone, :class => 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Data de Nascimento</label>
    <div class="col-sm-3">
      <%= f.date_select :data_nascimento, :class => 'form-control', :start_year => 1940 %>
    </div>
  </div>

  <div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">Cargo</label>
    <div class="col-sm-3">
      <%= f.text_field :cargo, :class => 'form-control' %>
    </div>
  </div>


  <div class="actions">
    <% if controller.action_name == "new" %>
      <%= f.submit "Criar funcionário", :class => 'btn btn-default' %>
    <% else %>
      <%= f.submit "Atualizar funcionário", :class => 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
