<h1>Lista de funcionários</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Telefone</th>
      <th>Data nascimento</th>
      <th>Cargo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionarios.each do |funcionario| %>
      <tr>
        <td><%= funcionario.nome %></td>
        <td><%= funcionario.cpf %></td>
        <td><%= funcionario.telefone %></td>
        <td><%= funcionario.data_nascimento.try(:strftime, "%d/%m/%Y") %></td>
        <td><%= funcionario.cargo %></td>
        <td><%= link_to 'Visualizar', funcionario, :class => 'btn btn-default' %></td>
        <td><%= link_to 'Editar', edit_funcionario_path(funcionario), :class => 'btn btn-default' %></td>
        <td><%= link_to 'Excluir', funcionario, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo Funcionário', new_funcionario_path, :class => 'btn btn-success' %>
